        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }
        
        body {
            font-size: 14px;
            line-height: 21px;
            color: #fff;
            font-family: 'Open Sans', sans-serif;
            background-color: #333;
        }
        
        ul {
            list-style: none;
        }
        
        a {
            text-decoration: none;
        }
        
        .main {
            background-image: url('../images/main-bg.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-bottom: 100px;
        }
        
        .sidebar {
            width: 150px;
            height: 100vh;
            background-color: #333;
            position: relative;
            float: left;
        }
        
        .sidebar__box {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 220px;
            position: absolute;
            bottom: 85px;
            height: 100vh;
        }
        
        .sidebar__text {
            font-family: 'Open Sans Condensed', sans-serif;
            font-size: 18px;
            line-height: 24px;
            color: #fff;
            font-weight: 300;
            transform: rotate(270deg);
            position: relative;
        }
        
        .sidebar__text::after {
            content: "";
            position: absolute;
            width: 3px;
            height: 80px;
            background-color: #c4c4c4;
            bottom: -30px;
            left: -70px;
            transform: rotate(90deg);
        }
        
        .sidebar__list {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 250px;
        }
        
        .sidebar__list-item {
            margin-bottom: 30px;
        }
        
        .sidebar__list-link {
            transition: all .5s;
        }
        
        .sidebar__list-link:hover svg path {
            fill: #D1A954;
        }
        
        .container {
            max-width: 1130px;
            padding: 0 10px;
            margin: 0 auto;
        }
        
        .header__top {
            margin-bottom: 50px;
        }
        
        .header__inner {
            padding-top: 50px;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        
        .menu-btn {
            display: none;
        }
        
        .menu__list {
            display: flex;
            margin-bottom: 60px;
        }
        
        .menu__list-list__item {
            margin: 10px;
        }
        
        .menu__list-list__link {
            transition: all .5s;
        }
        
        .menu__list-list__link:hover svg path {
            fill: #D1A954;
        }
        
        .menu__list-list {
            display: none;
        }
        
        .menu__list-item+.menu__list-item {
            margin-left: 64px;
        }
        
        .menu__list-link,
        .phone {
            font-size: 18px;
            line-height: 21px;
            font-weight: 700;
            font-family: 'Open Sans Condensed', sans-serif;
            color: inherit;
            text-transform: uppercase;
            padding-bottom: 8px;
            transition: border .5s linear;
            border-bottom: 2px solid transparent;
        }
        
        .menu__list-link:hover {
            border-bottom: 2px solid #D1A954;
        }
        
        .header__bottom {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        
        .header__content {
            max-width: 540px;
        }
        
        .header__title {
            font-family: Open Sans Condensed;
            font-size: 64px;
            line-height: 87px;
            font-weight: 700;
            margin-bottom: 30px;
            text-transform: uppercase;
        }
        
        .header__text {
            margin-bottom: 50px;
        }
        
        .header__slider {
            width: 370px;
        }
        
        .header__btn {
            padding: 18px 47px;
            background-color: #D1A954;
            font-size: 18px;
            line-height: 25px;
            font-weight: 700;
            font-family: 'Open Sans Condensed', sans-serif;
            color: inherit;
            text-transform: uppercase;
        }
        
        .slider__arrow {
            position: absolute;
            bottom: -77px;
        }
        
        .slider__arrow-right {
            right: 0;
        }
        
        .cinema {
            padding: 80px 0;
        }
        
        .title {
            font-family: Open Sans Condensed;
            font-size: 48px;
            line-height: 65px;
            font-weight: 300;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 100px;
            letter-spacing: 0.1em;
        }
        
        .title span {
            color: #D1A954;
        }
        
        .cinema__box {
            display: flex;
            justify-content: space-between;
        }
        
        .cinema__content {
            max-width: 445px;
            width: 100%;
        }
        
        .cinema__content-title,
        .cinema__number-title {
            font-family: 'Open Sans Condensed', sans-serif;
            font-size: 21px;
            line-height: 29px;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 0.1em;
            margin-bottom: 30px;
        }
        
        .cinema__number {
            max-width: 255px;
            width: 100%;
        }
        
        .cinema__number-item {
            margin-bottom: 25px;
        }
        
        .cinema__number-img {
            width: 70px;
            height: 70px;
            margin-bottom: 15px;
        }
        
        .cinema__number-text {
            font-family: 'Open Sans Condensed', sans-serif;
            font-size: 16px;
            line-height: 22px;
            font-weight: 700;
            letter-spacing: 0.05em;
        }
        
        .cinema__number-text span {
            color: #D1A954;
        }
        
        .cinema__img {
            width: 350px;
            height: 290px;
            object-fit: cover;
        }
        
        .productions {
            padding: 80px 0;
        }
        
        .productions__movies {
            display: none;
        }
        
        .productions__items {
            display: flex;
        }
        
        .productions__item {
            max-width: 442px;
            width: 25%;
            height: 550px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position: relative;
            opacity: 0.5;
            transition: opacity .5s linear;
        }
        
        .productions__item:hover {
            opacity: 1;
        }
        
        .productions__box-text {
            position: absolute;
            left: 42px;
            top: 47px;
            font-size: 22px;
            line-height: 33px;
            text-transform: uppercase;
            font-family: 'Open Sans Condensed', sans-serif;
            color: #fff;
            letter-spacing: 0.05em;
            font-weight: 700;
        }
        
        .productions__box-text--second {
            top: 300px;
            transform: rotate(270deg);
            top: 413px;
            left: -20px;
        }
        
        .critics {
            padding: 80px 0;
        }
        
        .critics__star {
            margin-bottom: 25px;
        }
        
        .critics__box {
            width: 100%;
            height: 550px;
            /* background-image: url('../images/critics-bg.jpg'); */
            background: linear-gradient(rgba(51, 51, 51, 0.9), rgba(51, 51, 51, 0.9)), url('../images/cinema.png'), no-repeat, center;
        }
        
        .critics__content {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 180px 130px;
        }
        
        .critics__list-item {
            font-size: 77px;
            line-height: 98px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            font-weight: 700;
            color: #D1A954;
            font-family: Open Sans Condensed;
        }
        
        .critics__descr {
            max-width: 540px;
            margin-left: 100px;
        }
        
        .critics__text {
            font-size: 36px;
            line-height: 40px;
            font-weight: 700;
        }
        
        .partners {
            padding: 80px 0 10px;
        }
        
        .partners__items {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
        
        .partners__item {
            margin-bottom: 70px;
        }
        
        .footer__inner {
            display: flex;
            justify-content: space-between;
            padding: 80px 0;
        }
        
        .footer__list {
            max-width: 360px;
            margin-right: 120px;
        }
        
        .footer__list-item {
            margin-bottom: 25px;
        }
        
        .footer__list-link {
            font-size: 16px;
            line-height: 22px;
            font-family: Open Sans Condensed;
            font-weight: 700;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #fff;
        }
        
        .footer__application {
            max-width: 730px;
        }
        
        .footer__form-input,
        .footer__form-textarea {
            height: 35px;
            width: 180px;
            margin-bottom: 30px;
            background-color: #444;
            border: 1px solid#616161;
            padding: 0 15px;
        }
        
        .footer__form-input::placeholder,
        .footer__form-textarea::placeholder {
            font-size: 12px;
            font-weight: 600;
        }
        
        .footer__form-textarea {
            width: 310px;
            height: 100px;
        }
        
        .footer__form {
            display: flex;
            margin-bottom: 10px;
        }
        
        .footer__box {
            display: flex;
        }
        
        .footer__text {
            max-width: 390px;
            width: 100%;
            margin-right: 150px;
        }
        
        .footer__btn {
            font-size: 18px;
            line-height: 25px;
            text-transform: uppercase;
            font-weight: 700;
            padding: 20px 47px;
            background-color: #D1A954;
            border: none;
            color: #fff;
            letter-spacing: 0.1em;
        }
        
        .footer__copy {
            display: flex;
            justify-content: space-between;
            padding: 30px 0;
            border-top: 1px solid #565656;
            font-size: 12px;
            color: #989898;
        }
        
        @media(max-width: 1024px) {
            .sidebar {
                display: none;
            }
            .menu {
                margin-bottom: 60px;
            }
            .header__slider {
                display: none;
            }
            .cinema {
                margin-top: 0;
            }
            .cinema__img {
                display: none;
            }
            .productions__items {
                flex-wrap: wrap;
            }
            .partners__items {
                grid-template-columns: repeat(3, 1fr);
            }
            .footer__inner {
                flex-wrap: wrap;
            }
            .footer__list {
                order: 1;
            }
            .footer__application {
                order: 0;
                margin-bottom: 50px;
            }
            .cinema__box {
                flex-wrap: wrap;
            }
            .cinema__content {
                margin: 0 auto;
                margin-bottom: 35px;
            }
            .cinema__number {
                margin: 0 auto;
            }
        }
        
        @media(max-width: 768px) {
            .menu-btn {
                position: absolute;
                right: 35px;
                top: 65px;
                display: block;
                background-color: transparent;
                border: none;
                padding: 0;
                cursor: pointer;
            }
            .menu__list {
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                background-color: #333;
                height: 100vh;
                padding: 140px 47px 0 39px;
                transform: translateX(-150%);
                transition: all .5s;
            }
            .menu__list.menu__list--active {
                transform: translateX(0);
            }
            .menu__list-item+.menu__list-item {
                margin-left: 0;
            }
            .menu__list-item {
                margin-bottom: 35px;
                text-align: left;
            }
            .menu__list-list {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
            }
            .critics__box {
                background-image: none;
                height: 380px;
            }
            .critics__content {
                padding: 0;
                flex-wrap: wrap;
                justify-content: flex-start;
            }
            .critics__text {
                font-size: 29px;
                line-height: 48px;
            }
            .critics__descr {
                margin-left: 0;
            }
            .partners__items {
                grid-template-columns: repeat(2, 1fr);
                text-align: center;
            }
            .footer__form {
                flex-wrap: wrap;
            }
            .footer__box {
                flex-wrap: wrap;
            }
            .footer__text {
                margin-bottom: 35px;
            }
            .footer__copy {
                flex-wrap: wrap;
            }
            .productions__items {
                display: none;
            }
            .productions__movies {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
            }
            .productions__movie {
                margin-bottom: 30px;
            }
            .productions__movie-title {
                font-size: 22px;
                line-height: 33px;
                text-transform: uppercase;
                font-family: 'Open Sans Condensed', sans-serif;
                color: #fff;
                letter-spacing: 0.05em;
                font-weight: 700;
            }
            .productions__movie-img {
                height: 350px;
                width: 255px;
            }
        }
        
        @media(max-width: 510px) {
            .partners__items {
                grid-template-columns: repeat(1, 1fr);
            }
        }
        
        @media(max-width: 450px) {
            .header__title {
                font-size: 48px;
                line-height: 60px;
            }
            .menu-btn {
                right: 13px;
            }
            .title {
                font-size: 35px;
                line-height: 50px;
            }
            .footer__box {
                display: block;
            }
        }
        
        @media(max-width: 375px) {
            .footer__box {
                width: 290px;
            }
            .footer__form label {
                width: 100%;
            }
            .footer__form-textarea {
                width: 250px;
            }
        }